<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- @Deprecated 
		Bir süre sonra tamamen çıkarılacağını gösteren annotasyon
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property> -->
<!-- 		mysql in sürücüsü  -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<!-- 		test.db benim mysql workbench de oluşturduğum database ismi oluyor, kullanıcı adı ve şifre de aynı şekilde.. -->
		<property name="connection.url">jdbc:mysql://localhost:3306/test_db</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
<!-- 		hibernate in MySQL ile bağlantısını sağlıyan dialect kısmı, 
		burada postGresQL kullanacaksak postgreSQL in dialectini yazıyoruz -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>


<!-- 		hbm2ddl.auto kısmı veritabanındaki tabloların nasıl oluşturulacagını belirliyor, burada 4 seçenek var :-->
		<!-- validate, update, create, create-drop -->
		<!-- * create: uygulama her çalıştıgında tablolar yeniden oluşur, uygulama her çalıştığında database 
			her seferinde sıfırlanır, development aşamasında kullanılır genelde -->
		<!-- * create-drop : uygulama her run edildiğinde tablolar oluşur, uygulama 
			kapatıldıgında tablolar silinir -->
		<!-- * validate : veritabanında bir değişiklik yapmaz, şemanın validate mi 
			diye kontrol eder. tablonun önceden oluşturuldugu gibi mi duruyor onu kontrol eder -->
		<!-- * update : sınıflarda yapılan değişikliğe göre tabloları update eder. Uygulama canlıya geçince kalabilir-->
		<property name="hbm2ddl.auto">update</property>
		<!-- uygulama run edildiğinde SQL sorularının çalıştıgını konsolda gösterir -->
		<property name="show_sql">true</property>
<!-- 		oluşturulan sorguyu tek satırda değilde formatlı güzel şekilde gösterilmesini sağlar -->
		<property name="format_sql">true</property>


		<!-- day03 deki mapping işlemleri için gerekli( oneToOne ) -->
		<mapping class="com.hb03.onetoone.Student03" />
		<mapping class="com.hb03.onetoone.Diary" />



	</session-factory>
</hibernate-configuration>